@-webkit-keyframes scale {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.5);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes apperadisappear {
    0% {
        -webkit-transform: scale(0) rotate(0deg);
    }
    50% {
    	-webkit-transform: scale(4) rotate(360deg);
    }
    100% {
    	-webkit-transform: scale(1) rotate(720deg);
    }
}

@-webkit-keyframes appearScaling {
    0%{
    	-webkit-transform: scale(0);
    }
    50% {
    	-webkit-transform: scale(1.2);
    }
    100% {
    	-webkit-transform: scale(1);
    }
}
@-webkit-keyframes appear {
	0% {opacity:  0; } 
	100% {opacity: 100;}
}
.animating {  
    -webkit-animation-name: scale;  
    -webkit-animation-timing-function: linear;  
    -webkit-animation-duration: 200ms; 
}

.animatedTrickTrap {
    -webkit-animation-name: apperadisappear;  
    -webkit-animation-timing-function: linear;  
    -webkit-animation-duration: 1000ms; 
}

.animatedPopUpCont {
	-webkit-animation: appear 300ms linear;
}

.animatedPopUpInn {
	-webkit-animation-name: appearScaling;  
    -webkit-animation-timing-function: linear;  
    -webkit-animation-duration: 500ms; 
}