<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="22019MarcoUberti.MonstersDiscovery" Version="1.1.0.4" Publisher="CN=B2D8D999-A9D9-48BD-8269-C8DCB90D2901" />
  <Properties>
    <DisplayName>Monsters Discovery</DisplayName>
    <PublisherDisplayName>Marco Uberti</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <m2:VisualElements DisplayName="Monsters Discovery" Description="MonstersDiscoveryW81JS" ForegroundText="light" BackgroundColor="#5086e1" Square150x150Logo="images\icon.png" Square30x30Logo="images\SmallLogo.png">
        <m2:DefaultTile ShortName="Monsters Discovery" Square70x70Logo="assets\icon-126.png" Square310x310Logo="assets\icon-558.png" Wide310x150Logo="images\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="images\splashscreen.png" BackgroundColor="#5086e1" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>